node_modules
npm-debug.log
.git
.next
.DS_Store
*.log
.env*
public
src/app/api/*
!src/app/api/package*.json
next.config.mjs
postcss.config.mjs
biome.json
jsconfig.json
README.md
.gitignore
.vercelignore
